{% extends 'base.html' %}
{% block title %}Кошик{% endblock %}

{% block content %}
    <h2>Ваш кошик</h2>
    {% if products %}
        <ul class="list-group mb-4">
            {% for product in products %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ product.title }} — <strong>{{ product.price }} ₴</strong>
                    <a href="{% url 'remove_from_cart' product.id %}" class="btn btn-sm btn-outline-danger">Видалити</a>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'order_view' %}" class="btn btn-success">Оформити замовлення</a>
    {% else %}
        <p>Кошик порожній.</p>
    {% endif %}
{% endblock %}
