<!-- templates/store/order.html -->
{% extends 'base.html' %}
{% block content %}
    <section class="checkout section pt-5">
        <div class="container">
            <h2 class="mb-4">Оформлення замовлення</h2>
            <form method="post">
                {% csrf_token %}
                <input name="name" value="{{ form_data.name }}" class="form-control" placeholder="Ім’я">
                <input name="phone" value="{{ form_data.phone }}" class="form-control" placeholder="Телефон">
                <textarea name="address" class="form-control" placeholder="Адреса">{{ form_data.address }}</textarea>
                <button type="submit" class="btn btn-primary">Оформити</button>
            </form>
        </div>
    </section>
{% endblock %}